<!DOCTYPE html>
<html>
<head>
    <title>Backend Server</title>
</head>
<body>
    <h1>Welcome to the Shared Web Service!</h1>
    <p>This content is served by {{ inventory_hostname }}.</p>
</body>
</html>
