- name: Install and configure Postfix and Dovecot mail server with SSH key distribution and gateway setting
  hosts: mailservers
  become: yes
  vars:
    mail_hostname: "mail.psh.ke"
    mail_domain: "psh.ke"
    user_name: "test"
    user_password: "VMware1!"
    ssh_pub_key_path: "~/.ssh/id_rsa.pub"

  tasks:
    - name: Install postfix and dovecot
      dnf:
        name:
          - postfix
          - dovecot
        state: present

    - name: Set myhostname in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?myhostname ='
        line: 'myhostname = {{ mail_hostname }}'

    - name: Set mydomain in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?mydomain ='
        line: 'mydomain = {{ mail_domain }}'

    - name: Set myorigin in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?myorigin ='
        line: 'myorigin = $mydomain'

    - name: Set inet_interfaces in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?inet_interfaces ='
        line: 'inet_interfaces = all'

    - name: Set inet_protocols in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?inet_protocols ='
        line: 'inet_protocols = ipv4'

    - name: Set mydestination in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?mydestination ='
        line: 'mydestination = $myhostname, localhost, {{ mail_domain }}, localhost, {{ mail_domain }}'

    - name: Set relayhost in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?relayhost ='
        line: 'relayhost ='

    - name: Set mynetworks in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?mynetworks ='
        line: 'mynetworks = 0.0.0.0/0'

    - name: Set home_mailbox in /etc/postfix/main.cf
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^#?home_mailbox ='
        line: 'home_mailbox = Maildir/'

    - name: Set protocols in /etc/dovecot/dovecot.conf
      lineinfile:
        path: /etc/dovecot/dovecot.conf
        regexp: '^#?protocols ='
        line: 'protocols = imap pop3 lmtp submission'

    - name: Set listen in /etc/dovecot/dovecot.conf
      lineinfile:
        path: /etc/dovecot/dovecot.conf
        regexp: '^#?listen ='
        line: 'listen = *, ::'

    - name: Set base_dir in /etc/dovecot/dovecot.conf
      lineinfile:
        path: /etc/dovecot/dovecot.conf
        regexp: '^#?base_dir ='
        line: 'base_dir = /var/run/dovecot'

    - name: Configure mail_location in /etc/dovecot/conf.d/10-mail.conf
      lineinfile:
        path: /etc/dovecot/conf.d/10-mail.conf
        regexp: '^#?mail_location ='
        line: 'mail_location = maildir:~/Maildir'

    - name: Disable plaintext auth restriction in /etc/dovecot/conf.d/10-auth.conf
      lineinfile:
        path: /etc/dovecot/conf.d/10-auth.conf
        regexp: '^disable_plaintext_auth ='
        line: 'disable_plaintext_auth = no'

    - name: Disable SSL in /etc/dovecot/conf.d/10-ssl.conf
      lineinfile:
        path: /etc/dovecot/conf.d/10-ssl.conf
        regexp: '^#?ssl ='
        line: 'ssl = no'

    - name: Disable firewalld (firewall)
      service:
        name: firewalld
        state: stopped
        enabled: no

    - name: Enable and start postfix
      systemd:
        name: postfix
        enabled: yes
        state: started

    - name: Enable and start dovecot
      systemd:
        name: dovecot
        enabled: yes
        state: started

    - name: Create user with password
      user:
        name: "{{ user_name }}"
        password: "{{ user_password | password_hash('sha512') }}"
        state: present
        shell: /bin/bash
        create_home: yes

    - name: Distribute SSH public key to user authorized_keys
      authorized_key:
        user: "{{ user_name }}"
        state: present
        key: "{{ lookup('file', ssh_pub_key_path) }}"

    - name: Set default gateway to 10.10.53.1 using nmcli
      command: nmcli connection modify "{{ ansible_default_ipv4.interface }}" ipv4.gateway 10.10.53.1
      become: yes

    - name: Restart network connection to apply gateway change
      command: nmcli connection down "{{ ansible_default_ipv4.interface }}" && nmcli connection up "{{ ansible_default_ipv4.interface }}"
      become: yes

    - name: Restart postfix service
      systemd:
        name: postfix
        state: restarted

    - name: Restart dovecot service
      systemd:
        name: dovecot
        state: restarted
