# tasks file for roles/dvs_config
# /root/autoprov/vsphere-autoprov/roles/dvs_config/tasks/main.yml
- name: 1. Create Distributed Switch (DSwitch-Auto)
  community.vmware.vmware_dvswitch:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: "{{ dvs_name }}"             # DVS 이름
    uplink_quantity: 4          # 4개 업링크 포트 생성
    state: present
  delegate_to: localhost

- name: 2. Create DPG-vyos-inside (VLAN 10)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_vyos_inside }}"
    num_ports: 120
    port_binding: ephemeral
    vlan_id: "{{ vlan_vyos_inside }}" # VLAN 10
    state: present
  delegate_to: localhost

- name: 3. Create DPG-mail-server (VLAN 20)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_mail_server }}"
    num_ports: 120
    port_binding: ephemeral
    vlan_id: "{{ vlan_mail_server }}" # VLAN 20
    state: present
  delegate_to: localhost

- name: 4. Create DPG-nginx-server (VLAN 30)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_nginx_server }}"
    num_ports: 120
    port_binding: ephemeral
    vlan_id: "{{ vlan_nginx_server }}" # VLAN 30
    state: present
  delegate_to: localhost

- name: 5. Create DPG-manage (VLAN 90)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_manage }}"
    num_ports: 120
    port_binding: ephemeral
    vlan_id: "{{ vlan_manage }}" # VLAN 90
    state: present
  delegate_to: localhost

# 6. Attach ESXi Hosts to DVS
- name: 6. Attach ESXi Hosts to DVS
  throttle: 1
  community.vmware.vmware_dvs_host:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    esxi_hostname: "{{ item }}"
    state: present
  delegate_to: localhost
  loop:
    - 10.10.10.4
    - 10.10.10.5
# 7. 잠시 대기 (호스트 등록 완료)
- name: 7. Wait for host registration
  pause:
    seconds: 10
    prompt: "호스트가 DVS에 등록되었습니다. 10초 대기 중..."

# 8. Add vmnic2/3 to DVS uplinks
- name: 8. Add vmnic2/3 to DVS uplinks (vmnic 추가)
  throttle: 1
  community.vmware.vmware_dvs_host:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    esxi_hostname: "{{ item }}"
    vmnics:
      - vmnic2
      - vmnic3
    state: present
  delegate_to: localhost
  loop:
    - 10.10.10.4
    - 10.10.10.5

# 9. 완료 메시지
- name: 9. DVS Configuration Complete
  debug:
    msg: |
      ✓ DVS 설정 완료!
      ✓ DVS 이름: {{ dvs_name }}
      ✓ 포트그룹 4개 생성
      ✓ 호스트 2개 추가
      ✓ vmnic2/3 uplink 연결 완료


