# tasks file for roles/dvs_config
# /root/autoprov/vsphere-autoprov/roles/dvs_config/tasks/main.yml
- name: 1. Create Distributed Switch (DSwitch-00)
  community.vmware.vmware_dvswitch:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: DSwitch-00             # DVS 이름
    uplink_quantity: 4          # 4개 업링크 포트 생성
    state: present
  delegate_to: localhost

- name: 2. Create DPortGroup-manage
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: DSwitch-00
    name: DPG-manage             # 관리망 포트 그룹 생성
    vlan_type: none              # VLAN ID를 사용하지 않음 (Access Port)
    state: present
  delegate_to: localhost

- name: 3. Create DPortGroup-external
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: DSwitch-00
    name: DPG-external           # VyOS Outside NIC 연결용 포트 그룹
    vlan_type: none
    state: present
  delegate_to: localhost

- name: 4. Create DPortGroup-internal
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: DSwitch-00
    name: DPG-internal           # VyOS/Linux Inside NIC 연결용 포트 그룹
    vlan_type: none
    state: present
  delegate_to: localhost
