# tasks file for roles/dvs_config
# /root/autoprov/vsphere-autoprov/roles/dvs_config/tasks/main.yml
- name: 1. Create Distributed Switch (DSwitch-Auto)
  community.vmware.vmware_dvswitch:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    switch_name: "{{ dvs_name }}"             # DVS 이름
    uplink_quantity: 4          # 4개 업링크 포트 생성
    state: present
  delegate_to: localhost

- name: 2. Create DPG-vyos-inside (VLAN 10)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_vyos_inside }}"
    port_binding: ephemeral
    vlan_id: "{{ vlan_vyos_inside }}" # VLAN 10
    state: present
  delegate_to: localhost

- name: 3. Create DPG-mail-server (VLAN 20)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_mail_server }}"
    port_binding: ephemeral
    vlan_id: "{{ vlan_mail_server }}" # VLAN 20
    state: present
  delegate_to: localhost

- name: 4. Create DPG-nginx-server (VLAN 30)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_nginx_server }}"
    port_binding: ephemeral
    vlan_id: "{{ vlan_nginx_server }}" # VLAN 30
    state: present
  delegate_to: localhost

- name: 5. Create DPG-manage (VLAN 90)
  community.vmware.vmware_dvs_portgroup:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    switch_name: "{{ dvs_name }}"
    portgroup_name: "{{ pg_manage }}"
    port_binding: ephemeral
    vlan_id: "{{ vlan_manage }}" # VLAN 90
    state: present
  delegate_to: localhost
#
#- name: 6. Attach ESXi Hosts to DVS and Map vmnics to Uplinks
#  community.vmware.vmware_dvs_host:
#    hostname: "{{ vcenter_hostname }}"
#    username: "{{ vcenter_username }}"
#    password: "{{ vcenter_password }}"
#    validate_certs: no
#    switch_name: "{{ dvs_name }}"
#    esxi_hostname: "{{ item }}"
#    # VMkernel vmnic0(관리망)은 제외하고 나머지 NIC만 DVS에 매핑
#    vmnics:
#      - name: vmnic1
#        uplink: Uplink 2
#      - name: vmnic2
#        uplink: Uplink 3
#      - name: vmnic3
#        uplink: Uplink 4
#    state: present
#  delegate_to: localhost
#  loop:
#    - 10.10.10.4
#    - 10.10.10.5
#  register: dvs_host_attach
#  vars:
#    ansible_user: root
#    ansible_password: "{{ vcenter_password }}" # VCSA와 ESXi root 비밀번호가 동일하다고 가정
