---
# tasks file for roles/vm_provisioning
- name: Create VM {{ vm_name }} from template and configure NICs
  community.vmware.vmware_guest:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ vcenter_datacenter }}"
    cluster: "{{ vcenter_cluster }}"
    folder: "{{ vcenter_folder }}"
    name: "{{ vm_name }}"
    template: "{{ vm_template }}"
    datastore: "{{ vm_datastore }}"
    force: yes # VM이 이미 존재하면 재구성
      #  wait_for_ip: no # IP 설정은 다음 Role에서 진행
    wait_for_ip_address: no
    hardware:
      memory_mb: 1024
      num_cpus: 1
    # DVS 포트 그룹 연결 (핵심)
    networks: "{{ vm_nics }}" 
    state: poweredon
  delegate_to: localhost # 이 작업은 VCSA API로 호출
  register: vm_result

- name: Display VM creation status
  debug:
    msg: "VM '{{ vm_name }}' provisioning finished. Status: {{ vm_result.instance.state | default('Check VCSA') }}"
