# autoprov/vsphere-autoprov/playbooks/main_deployment.yml
---
- name: 1. Configure Distributed Switch and Port Groups (Infrastructure Phase)
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - ../group_vars/all.yml 
  roles:
    - dvs_config     # [1순위] DVS 생성 및 DPG 생성 실행

- name: 2. VM Provisioning Playbook (VM이 존재하면 건너뜀)
  import_playbook: provision_vms.yml

- name: 3. Configure VyOS Router Network (VyOS 담당자 책임)
  hosts: vyos_router
  gather_facts: no
  vars_files:
    - ../group_vars/all.yml 
  roles:
    - vyos_network   # [3순위] VyOS IP, NAT, 라우팅 설정 실행

      #- name: 4. Configure Linux Base OS (COMMON STEPS: IP, Gateway, SSH)
      #  hosts: linux_server,mail_server_vm
      #  gather_facts: no
      #  vars_files:
      #    - ../group_vars/all.yml 
      #  roles:
      #    - linux_os

- name: 4. Deploy Nginx Application (Nginx 담당자 영역)
  hosts: linux_server
  gather_facts: no
  vars_files:
    - ../group_vars/all.yml
  roles:
    - nginx_deployment

- name: 5. Deploy Mail Server Application (Mail 담당자 영역)
  hosts: mail_server_vm
  gather_facts: no
  vars_files:
    - ../group_vars/all.yml
  roles:
    - mail_server_deployment
