---
- name: 1. Provision VyOS and Linux Server VMs on vSphere
  hosts: localhost
  connection: local
  gather_facts: no

  vars_files:
      - ../group_vars/all.yml
  
  tasks:
    # ----------------------------------------------------------------------
    # A. VyOS Router VM 생성 (NIC 2개 연결)
    # ----------------------------------------------------------------------
    - name: Call vm_provisioning role for VyOS router
      include_role:
        name: vm_provisioning
      vars:
        vm_name: "{{ vyos_vm_name }}"
        vm_template: "{{ vyos_template_name }}"
        vm_datastore: "{{ vyos_datastore }}" 
        vm_nics: 
          #NIC 1 (Outside): Standard Switch의 Port Group에 연결
          - name: "{{ standard_pg_outside }}" 
          - name: "{{ pg_vyos_inside }}" # DVS Port inside ,VLAN 10 

    # ----------------------------------------------------------------------
    # B. Mail Server VM 생성 (NIC 1개 연결,DPG-mail-server)
    # ----------------------------------------------------------------------
    - name: Call vm_provisioning role for Mail Server
      include_role:
        name: vm_provisioning
      vars:
        vm_name: "{{ mail_server_vm_name }}"
        vm_template: "{{ linux_template_name }}"
        vm_datastore: "{{ linux_datastore }}"
        vm_nics:
          - name: "{{ pg_mail_server }}"   # NIC 1: (DPG-mail-server, VLAN 20)


    # ----------------------------------------------------------------------
    # C. Nginx Server VM 생성 (NIC 1개 연결, DPG-nginx-sever)
    # ----------------------------------------------------------------------
    - name: Call vm_provisioning role for Nginx Server
      include_role:
        name: vm_provisioning
      vars:
        vm_name: "{{ nginx_server_vm_name }}"
        vm_template: "{{ linux_template_name }}"
        vm_datastore: "{{ linux_datastore }}" 
        vm_nics: 
          - name: "{{ pg_nginx_server }}" # NIC 1: (DPG-nginx_server, VLAN 30)

# [⭐ 추가] NIC 연결 상태 확인 및 강제 마이그레이션 Play
# ----------------------------------------------------------------------
- name: 2. Force NIC Connection to Distributed Port Groups
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - ../group_vars/all.yml
  
  tasks:
    # A. VyOS NIC 마이그레이션
    - name: Migrate VyOS Outside NIC (eth0) to Standard PG
      community.vmware.vmware_guest_network:
        name: "{{ vyos_vm_name }}"
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        label: "Network adapter 1" # VyOS Outside NIC
        network_name: "{{ standard_pg_outside }}" # Standard Switch PG 이름 (예: VM Network)
        state: present
      delegate_to: localhost

    - name: Migrate VyOS Inside NIC (eth1) to DVS DPG
      community.vmware.vmware_guest_network:
        name: "{{ vyos_vm_name }}"
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        label: "Network adapter 2" # VyOS Inside NIC
        network_name: "{{ pg_vyos_inside }}" # DVS DPG 이름
        state: present
      delegate_to: localhost
      
    # B. Mail Server NIC 마이그레이션 (Mail)
    - name: Migrate Mail Server NIC to DVS DPG (Mail Server)
      community.vmware.vmware_guest_network:
        name: "{{ mail_server_vm_name }}"
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        label: "Network adapter 1"
        network_name: "{{ pg_mail_server }}"
        state: present
      delegate_to: localhost
      
    # C. Nginx Server NIC 마이그레이션
    - name: Migrate Nginx Server NIC to DVS DPG (Nginx Server)
      community.vmware.vmware_guest_network:
        name: "{{ nginx_server_vm_name }}"
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        label: "Network adapter 1"
        network_name: "{{ pg_nginx_server }}"
        state: present
      delegate_to: localhost
