---
# playbooks/vyos_multi_trunk_config.yml
- name: Configure Multiple VLAN Sub-interfaces on VyOS Router
  hosts: vyos_router
  gather_facts: no
  connection: network_cli

  vars:
    # **중요:** VM 네트워크가 연결된 VyOS의 물리 인터페이스를 확인하고 수정하세요.
    physical_interface: eth1 
    
    # VLAN별 게이트웨이 정보 정의 (각 VM 네트워크의 게이트웨이 역할)
    vlan_configs:
      - id: 20
        ip: 172.16.2.1
        mask: 16

      - id: 30
        # Nginx VM (172.16.3.100)의 게이트웨이 주소 사용
        ip: 172.16.1.100 
        mask: 16

  tasks:
    - name: Set VLAN Sub-interface (VIF) and Gateway IP for each VLAN
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces ethernet {{ physical_interface }} vif {{ item.id }} address {{ item.ip }}/{{ item.mask }}"
          - "set interfaces ethernet {{ physical_interface }} vif {{ item.id }} description 'VLAN_{{ item.id }}_NETWORK'"
            #       commit: yes
        save: yes
      loop: "{{ vlan_configs }}"
      loop_control:
        loop_var: item
      register: vyos_config_output
      changed_when: vyos_config_output.updates is defined and vyos_config_output.updates | length > 0

    - name: Display Configuration Status
      ansible.builtin.debug:

